@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root {
    --bg: #010103;
    --black: #13131a;
    --border: .1rem solid rgba(255, 255, 255, .3);
    --main-color: #d3ad7f;
}

* {
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0;
    outline: none;
    padding: 0;
    text-decoration: none;
    text-transform: none;
    transition: .2s linear;
    -webkit-user-drag: none;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 5rem;
}

body {
    scroll-behavior: smooth;
    background: url('Image/background.jpg');
}

.logo-header {
    background-color: #0B1433;
    display: flex;
}

.header-text {
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
}

.header-text h1 {
    font-size: 25px;
    user-select: none;
}

.nav-bar {
   
    display: flex;
    height: auto;
    justify-content: center;
margin-bottom: 10px;
}

.nav-bar a {
    color: var(--black);
    font-size: 2rem;
    font-weight: bold;
    padding: 30px 60px;
    text-align: center;
    width: 250px;
}

.nav-bar a:hover {
    background-color: #C7C7C7;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 10px 0px #8b939a;
    color: #1E73C1;
}

/* System */
.dp-sensor {
    border-top: 1px solid gainsboro;
    display: flex;
    justify-content: space-around;
}

.column {
    width: 20%;
    float: left;
    border-radius: 20px;
    margin: 70px 10px 50px 10px;
    padding: 40px 15px;
    box-shadow: 5px 5px 10px 1px;
    display: flex;
    justify-content: center;
    background-color: #3B3B35;

}

.card {
    background: url(Image/background.jpg);
    border-radius: 40px;
    border-top: 1px solid;
    box-shadow: 1px 2px 5px 0 ;
    height: 200px;
    max-width: 250px;
    text-align: center;
    width: 250px;
}

.content-ss {
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    user-select: none;

}

.content-main {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

/* .content-wheather{
   
} */
/* .wheather{
    
} */
.img-wheather {
    width: 155px;
    transform: translateY(10px);
}

/* Gauge */
.gauge_humi,
.gauge_inten,
.gauge_temp {
    color: #004033;
    font-family: "Roboto", sans-serif;
    font-size: 35px;
    max-width: 250px;
    width: 100%;
    position: relative;
    transform: translateY(-70%);
}

.title-gauge {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    overflow-y: hidden;
    padding: 0 20px;
    text-align: center;
    text-overflow: clip;
    transform: translateY(-50%);
    width: 100%;

}

.gauge__body {
    background: #b4c0be;
    border-top-left-radius: 100% 200%;
    border-top-right-radius: 100% 200%;
    height: 0;
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    width: 100%;
    box-shadow: 1px -2px 3px  #010103   ;
}

.gauge__fill {
    background: #243B6A;
    height: 100%;
    left: 0;
    position: absolute;
    top: 100%;
    transform-origin: center top;
    transform: rotate(0.25turn);
    transition: transform 0.2s ease-out;
    width: inherit;
}

.gauge__cover {
    /* Text */
    align-items: center;
    background: url(Image/background.jpg);
    border-radius: 50%;
    box-sizing: border-box;
    color: #1E73C1;
    display: flex;
    font-size: 30px;
    font-weight: bolder;
    height: 150%;
    justify-content: center;
    left: 50%;
    padding-bottom: 25%;
    position: absolute;
    top: 25%;
    transform: translateX(-50%);
    width: 75%;
}
.gauge-wheather{
  background: url(Image/background.jpg);

}
.rain { 
    background: url("Image/rain.png");
    height: 200px;
    width: 100px;
}

/* End gauge */

/* Chart */
.chart {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;


}

.chart .temp,
.humi,
.inten {
    width: 30%;
    background: rgba(59, 59, 53, 1);
    box-shadow: 5px 5px 15px 3px;
    border-radius: 10px;
    padding: 10px 0;
}

.control-panel {
    margin: 50px 0;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.circle-light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .5;
    background: linear-gradient(to right, #bdc3c7, #2c3e50); 
}

.circle-light span {
    text-align: center;
    font-weight: 900;
    user-select: none;
    color: black;
}

.light-display {
    padding-top: 10px;
    width: 50%;
    height: auto;
    background: #3B3B35;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 3px;
}

.light-display h1 {
    color: white;
    text-align: center;
    font-size: 25px;
    border-bottom: 2px solid #b4c0be;
    user-select: none;
}

.ctrl-main {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

/* End chart */

/* Button Controls */
.toggle {
    width: 80px;
    height: 40px;
    background: linear-gradient(to right, #000000, #0f9b0f);
    /* border: 1px solid #b4c0be; */
    box-shadow: 0 0 10px 0;
    border-radius: 100rem;
    padding: 4px;
    transition: all 0.2s linear;
    user-select: none;
}
.toggle-man{
    background: linear-gradient(to right, #ed213a, #93291e);
}

.spinner {
    border-radius: 100rem;
    border: 0.5px solid white;
    width: 30px;
    height: 30px;
    background-color: white;
    transition: all 0.2s ease-in-out;
}

.toggle-label input {
    display: none;
}

.toggle-label {
    cursor: pointer;
    display: inline-block;
    margin: 0 10px;
}

.toggle-label input:checked+.toggle {
    background: linear-gradient(to right, #2980b9, #2c3e50); 
}
.toggle-label input:checked+.toggle-man{
    background: linear-gradient(to right, #000000, #0f9b0f);
}
.toggle-label input:checked+.toggle .spinner {
    background-color: cornsilk;
}

.toggle-label input:checked+.toggle .spinner {
    transform: translateX(40px);
}

.btn-slmode{
    border-top:0.5px  solid whitesmoke;
    padding: 10px 0;
    margin: 10px 100px 0 100px;
    text-align: center;
    height:auto;
    
}
.btn-mode{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.btn-mode h3{
    color:whitesmoke;
    position: relative;
    transform: translateY(10px);
}
.btman{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.btn-main{
    display:flex;
    flex-direction: row;
}
/* End Button Controls */

/* Device controls */
.device-ctrl {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.pump,
.fan,
.lamp,
.motor,
.warm {
    width: 100px;
    height: 100px;
    object-fit: cover;

}

/* End Device Controls */
/* Form input */
.form-input {
    background: #3B3B35;
    border-radius: 10px;
    border: 1px solid gainsboro;
    color: white;
    height: 40px;
    padding: 20px;
    transition: .2 ease;
    width: 100px;
}

.form-input:focus {
    border-color: #0c4983;
}

.form-field {
    position: relative;
}
.sptemp-low{
    margin-top:25px;
}

.form-label {
    color: #b4c0be;
    font-size: 18px;
    left: 21px;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

.form-input:not(:placeholder-shown)+.form-label,
.form-input:focus+.form-label {
    color: #3B3B35;
    font-weight: bolder;
    display: inline-block;
    padding: 0 10px;
    top: -7px;
    left: 0;
}
/* End form input */

/* Button Set Limit Effect */
/* .input-enter{

} */
.btn-enter {
    cursor: pointer;
    padding: 1rem 3rem;
    border: 1px solid #485461;
    box-shadow: 0 0 5px 0px #485461;
    border-radius: 1rem;
    text-align: center;
    font-size: 1.6rem;
    overflow: hidden;
    position: relative;
    z-index: 1;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
.btn-enter::before{
    background-color: #485461;
    background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    border: 0;
    content: "";
    position: absolute;
    z-index: -1;
}
.btn-enter:hover{
    color: white;
}
.btn-efleft::before{
    height: 100%;
    left: 0;
    top: 0;
    transition: all .05s linear;
    width: 0;
}
.btn-efleft:hover::before{
    width: 100%;
}
/* End Button Set Limit */
/* Format Form */
.form-sp{
    margin: 30px;
    display: flex;
    justify-content: space-around;
}
.form-child{
    width: auto;
    height: auto;
    border: 1px solid #b4c0be;
    padding: 10px;
    border-radius: 2rem;
    box-shadow: 1px 3px 10px 1px;
    background-color: #2f4353; 
    background-image: linear-gradient(315deg, #2f4353 10%, #d2ccc4 80%);
}
.form-child-between{
    margin: 0 10px;
}
.child-main{
    display: flex;
    justify-content: space-around; 
    margin-bottom: 5px;
}
.input-fill , .input-enter{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.header-child {
    text-align: center;
    color: whitesmoke;
    margin-bottom: 20px;
    border-bottom: 1px solid;
    user-select: none;
}
.button-ctrl{
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    display: none;
    z-index: 5;

}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.control-pump,.control-motor
{
    width: 100%;
    margin-top: 40px;

}


/* End Format Form */
/* End system */


/* Index */
.index-main,.index-content {
    margin-top: 2rem;
    padding: 0 20px;
    font-family: 'Cambria', Times, serif;
    
}
.index-main h3{
    color: #1E73C1;
    font-size: 25px;
    margin-bottom: 25px;
    text-align: center;
    text-transform: none;
}
.index-main .img{
    text-align: center;
}
.index-main .img img{
border-radius: 5px;
border: 1px solid;
box-shadow: 1px 1px 20px 0;
margin-bottom: 10px;
object-fit: cover;
width: 500px;
}

.title1{
    font-size: 25px;
    font-style: italic;
    padding-left: 20px;
}
.content1{
    padding-top: 10px;
}
.index-content ul{
    margin: 10px 0 20px 50px;
}
/* End Index */

@media screen and (max-width: 1440px) {
    .form-child{
        width: 30%;

    }
    .form-input{
        width: 100px; 
    }
    .btn-enter{
        padding: 1rem 1.5rem;
    }
    .control-pump,.control-motor{
        width:100%;
    }
}